@import url('../../../assets/css/globals.css');


/* Start Services */
.services {
  padding: 50px 0;
}
.services-content {
  margin: 40px 0;
}
.services .left {
  width: 33.3%;
  float: left;
  padding: 20px;
}
.services .icon-box {
  width: 20%;
  float: left;
}
.services .text-box {
  width: 80%;
  float: left;
}
.services .icon-box i {
  font-size: 40px;
  color: var(--PantoneColor);
}
.services .text-box .title {
  font-family: var(--montserratFont);
  text-transform: uppercase;
  font-weight: bold;
}
/* End Services */
/* ----------------------------- */
