@import url('../../assets/css/globals.css');

.footer {
  padding-top: 70px;
  background-color: #f8f8f8;
}
.footer h5 {
  text-transform: uppercase;
}
.footer-desc {
  font-size: 15px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
  font-family: var(--montserratFont);
}
.footer .social-icons p {
  display: inline-block;
}
.footer .social-icons ul {
  display: inline-block;
}
.footer .social-icons li {
  display: inline-block;
  margin-right: 15px;
}
.footer .social-icons li i {
  color: var(--PantoneColor);
  font-size: 18px;
}
.footer form {
  background-color: white;
  display: inline-block;
}
.footer form input[type="text"] {
  padding: 3px 5px;
  outline: none;
  border: none;
  border: 0.5px solid #dfdfdf;
}
.footer form input[type="submit"] {
  padding: 4px 20px;
  color: white;
  background-color: var(--PantoneColor);
  outline: none;
  border: none; 
}
.footer-blogs ul {
  padding-left: 0;
}
.footer-blogs ul li {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-height: 90px;
  margin-bottom: 15px;
}
.footer-blogs ul li:hover {
  cursor: pointer;
}
.footer-blogs ul li div {
  padding: 10px;
}
.footer-blogs ul li p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  font-family: var(--montserratFont);
}
.footer-blogs ul li span {
  font-size: 13px;
  color: #999999;
  font-weight: 300;
  font-style: italic;
  font-family: var(--montserratFont);
}
.footer-insta img {
  display: block;
}
.footer-insta a {
  display: inline-block;
  color: #000000;
  margin: 10px 0;
}
.footer-insta a:hover {
  color: var(--PantoneColor);
}